{% load static %}

<section class="d-flex flex-row bd-highlight mb-3 img-fluid">
    <img src="{% static 'images/Nike_logo.webp' %}" class="p-16 mx-auto bd-highlight" height="100px" width="100px" alt="">
    <img src="{% static 'images/Puma_logo.png' %}" class="p-16 mx-auto bd-highlight" height="100px" width="100px" alt="">
    <img src="{% static 'images/The-North-Face_logo.png' %}" class="p-16 mx-auto bd-highlight" height="100px" width="100px" alt="">
    <img src="{% static 'images/Jordan_logo.png' %}" class="p-16 mx-auto bd-highlight" height="100px" width="100px" alt="">
    <img src="{% static 'images/New-Balance_logo.png' %}" class="p-16 mx-auto bd-highlight" height="100px" width="100px" alt="">
</section>