{% load static %}

<div>
    <h2>New arrivals</h2>
    <p>All products</p>
    <div class="d-flex flex-row bd-highlight mb-3 img-fluid" className=""card>
        <div>
            <img src="{% static 'images/sneaker1.jpg' %}" alt="" className="card--image" />
            <div className="card--stats">
                <p className="card--title">Brick Cage</p>
                <p>$129</p>
            </div> 
        </div>
        <div>
            <img src="{% static 'images/sneaker2.jpg' %}" alt="" className="card--image" />
            <div className="card--stats">
                <p className="card--title">White Marble</p>
                <p>$114</p>
            </div> 
        </div>
        <div>
            <img src="{% static 'images/sneaker1.jpg' %}" alt="" className="card--image" />
            <div className="card--stats">
                <p className="card--title">Brick Cage</p>
                <p>$129</p>
            </div> 
        </div>
        <div>
            <img src="{% static 'images/sneaker1.jpg' %}" alt="" className="card--image" />
            <div className="card--stats">
                <p className="card--title">Brick Cage</p>
                <p>$129</p>
            </div> 
        </div>
        <!-- <div>
            <img src="{% static 'images/sneaker3.jpg' %}" alt="" className="card--image" />
            <div className="card--stats">
                <p className="card--title">Air Max</p>
                <p>$129</p>
            </div> 
        </div> -->
    </div>
</div>